<tr class="item_table_row">

  <td class="row_index"><%= f.item_form == 0 ? 1 : f.item_form %></td>
  <td><%= f.text_field :item_name, class: 'form-control' %></td>
  <td><%= f.text_field :item_cost, class: 'form-control' %></td>
  <td><%= f.text_field :category_id, class: 'form-control' %></td>
  <td><%= f.text_field :item_quantity, class: 'form-control' %></td>
  <td><%= f.text_field :item_notes, class: 'form-control' %></td>
  <td><%= f.text_field :item_total_cost, class: 'form-control' %></td>
  <!-- <td><span class="aaron"></span></td> -->
</tr>
